div{
    height: 40px;
    width: 40px;
    border: 2px solid black;
    border-radius: 8px;
}

.block_X{
    position: absolute;
    top: 30px;
    right: 0px;
    background-color: rgb(224, 24, 58);
}
.block_X{
    position: fixed;
    bottom: 0px;
    right: 0px;
    background-color: rgb(206, 206, 195);
}

.block_X{
    position: relative;
    width: 100px;
    height: 100px;
    background-color: rgb(22, 143, 103);
}


.block_X{
    position: static;
    background-color: rgb(122, 55, 55);
}
.block_X{
    position: relative;
    top: -38px;
    left: 20px;
    background-color: rgb(160, 140, 140);
}

    
